body{
    font-family: 'Outfit', sans-serif;
    background-color: rgb(19, 17, 16);          
  }

  .tarjeta{
    width: 290px; height: 466px;
    border-radius: 18px;
    background-color: hsl(0, 0%, 100%);
    padding: 15px;
    margin: 10% auto;
  }
  
  img{
    border-radius: 12px;
    width: 100%;
  }

  .text{
    width: 90%;
    text-align: center;
    margin: auto;
    margin-top: 12px;   
  }
  
  h2{
    font-size: 22px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);  
  }

  p{
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%) ;
  }

  .attribution { 
    font-size:small;
    text-align: center;
    color: blanchedalmond;
  }
  
  .attribution a {
    color:rgb(255, 255, 255);
  }